@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

.form-container {
  font-size: 14pt;
  color: #000000;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: grid;
  margin-left: 50px;
}

.form-label {
  font-size: 12pt;
  grid-column: 2;
}

.form-label input {
  margin-left: 20px;
  grid-column: 3;
}

.formsection {
  display: grid;
  grid-template-columns: auto auto auto;
}

.section-title {
  font-size: 15pt;
  grid-column: 1 / 3;
}