@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

.form-container {
  font-size: 14pt;
  color: #000000;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: grid;
  margin-left: 50px;
}

.formsection {
  display: grid;
  grid-template-columns: auto; 
}

.section-title {
  font-size: 15pt;
  grid-column: span 4;
}

.form-label {
  font-size: 12pt;
  grid-column: 2;
  width: 200px;
}

.form-input {
  grid-column: 3;
  width: 200px;
}
