@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

.form-container {
  font-size: 14pt;
  color: #000000;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: grid;
  margin-left: 50px;
}

.form-label {
  font-size: 12pt;
}

.form-label input {
  margin-left: 20px;
}

.formsection {
  display: grid;
}